<h1>profile for <%= @room.room_no%></h1>
<table>
<thead>
<tr>
<td> room_no</td>
<td> room_type</td>
</tr>
</thead>
<tbody>
<tr>
<td><%=  @room.room_no %></td>
<td><%=  @room.room_type %></td>
</tr>
</tbody>
</table>
<a href="/room">Home page</a>